footer{
    div{
        div{
            div{
                a{
                    img{
                        width: $w_img_f;
                        height: $h_img_f;
                    }
                }
            }
            div{
                h5{
                    color: firebrick;
                    text-decoration: underline;
                }
                ul{
                    
                    li{
                        
                        a{
                            text-decoration: none;
                            color: darkred;
                        }
                    }
                }
            }
        }
    }
}