$w_img_h: 50px;/*ancho de la imagen logo del header*/
$h_img_h: 50px;/*alto de la imagen logo del header*/
$w_img_f: 70px;/*ancho de la imagen logo del footer*/
$h_img_f: 70px;/*alto de la imagen logo del footer*/